body {
  text-align: center;
  background-color: lightgrey;
}

#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 20px;
  display: inline-block;
  background-color: lightblue;
  border-radius: 10px;
}
.header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


h1 {
  text-align: center;
  font-family: 'Dela Gothic One', cursive;
  color: rgb(38, 56, 116);
  font-size: 4em;
}

.scores {
  color: rgb(38, 56, 116);
  font-family: 'Dela Gothic One'
}

/* CSS */
button {
  align-items: center;
  background-color: rgb(38, 56, 116);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  height: 100px;
}

button:hover,
button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}